#orderPane {
	-fx-background-image: url("../../image/orderBack.png");
    -fx-background-size: cover;
}

#cartPane {
	-fx-background-image: url("../../image/loginWalpaper.jpg");
    -fx-background-size: cover;
}

#homepagePane {
	-fx-background-image: url("../../image/orderBack.png");
    -fx-background-size: cover;
}